<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <!-- StartNavbarSpace -->
    <%- include("./partials/nav") %>
    <!-- EndNavbarSpace -->

    <div class="container">
        asdnaslkd
    </div>

    <!-- StartFooterSpace -->
    <%- include("./partials/foot") %>
    <!-- EndFooterSpace -->
</body>
</html>